{% extends 'index.html'%}
{% load crispy_forms_tags %}

{% block titulo %}Formulario de Empleados{% endblock titulo %}

{% block cuerpo %}
<style type="text/css">
    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: #E6E6E6;
    }
    h1 {
        text-align: center;
        font-weight: normal;
        font-size: 45px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-transform: uppercase;
        font-weight: 500;
    }
    .container {
        font-weight: bold;
        width: 600px;
        border-style: solid;
    }
</style>
<h1>Formulario Empleados</h1>
<div class="container border">
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-6">
                {{form.emp_no|as_crispy_field}}
            </div>
            <div class="col-6">
                {{form.gender|as_crispy_field}}
            </div>
            <div class="col-6">
                {{form.first_name|as_crispy_field}}
            </div>
            <div class="col-6">
                {{form.last_name|as_crispy_field}}
            </div>
            <div class="col-6">
                {{form.birth_date|as_crispy_field}}
            </div>
            <div class="col-6">
                {{form.hire_date|as_crispy_field}}
            </div>
        </div>
        <button type="submit" class="btn btn-outline-success">Agregar Empleado</button>
        <a href="{% url 'index' %}" class="btn btn-outline-dark" role="button" aria-pressed="true">Cancelar</a>
    </form> 
</div>


{% endblock cuerpo %}